<h2><%= @place.city %></h2>

<% if @place.accommodations.any? %>
  <h3>Available Accommodations:</h3>
    <ul>
      <% @place.accommodations.each do |accommodation| %>
      <li><%= link_to accommodation.name, place_accommodation_path(@place, accommodation) %> $<%= accommodation.price %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no accommodations yet for <%= @place.city %></p>
<% end %>

<p><%= link_to "Add Accommodation", new_place_accommodation_path(@place) %></p>
<p><%= link_to "Edit", edit_place_path(@place) %></p>
<p><%= link_to "Delete", place_path(@place), :data => { :confirm => "Are you sure?",
                                                        :method => "delete" } %></p>
  <p><%= link_to "Return to Places", places_path %></p>



  <p><%= image_tag @user.avatar.url(:thumb) %></p>
